python-dotenv
Flask==3.1.2
flask-cors==6.0.0
flask-talisman==1.0.0
future==1.0.0
google-cloud-logging
gunicorn==23.0.0
jsonschema==2.6.0
PyYAML==6.0.2
requests==2.32.4
ruamel.yaml==0.18.11
simplejson==3.8.1
