<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{{ static_uri }}{{ url_for('static', filename = 'swagger-ui.css') }}" >
    <link rel="icon" type="image/png" href="{{ static_uri }}{{ url_for('static', filename = 'favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ static_uri }}{{ url_for('static', filename = 'favicon-16x16.png') }}" sizes="16x16" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script src="{{ static_uri }}{{ url_for('static', filename = 'swagger-ui-bundle.js') }}"> </script>
    <script src="{{ static_uri }}{{ url_for('static', filename = 'swagger-ui-standalone-preset.js') }}"> </script>
    <script>
    window.onload = function() {
      var js_spec = JSON.parse('{{ load_spec()|safe }}');
      // Begin Swagger UI call region
      var ui = SwaggerUIBundle({
        spec: js_spec,
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset.slice(1)
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout",
        oauth2RedirectUrl: "{{ api_base_uri }}/{{ ouath2_callback_path }}",
        // From https://stackoverflow.com/a/54537174/2117919:
        // This lets us snag the ID token (NOT the access token!!) out of the response and drop it into
        // localStorage...
        responseInterceptor:
          function (response) {
              if (response.obj.id_token) {
                  console.debug("Response object: ", response);
                  const token = response.obj.id_token;
                  localStorage.setItem("token", token)
              }

              return response;
          },
        // ...and this pulls that same ID token out of localStorage and drops it into Auth: Bearer
        requestInterceptor:
          function (request) {
            if (localStorage.getItem("token")) {
              request.headers.Authorization = "Bearer " + localStorage.getItem("token");
            }
            return request;
          }
      });

      // Set up our OAuth; because we're using implicit flow and don't need the access token,
      // we don't need the client secret
      ui.initOAuth({
        clientId: "{{ api_client_id }}",
        appName: "ISB-CGC API v4",
        scopeSeparator: " "
      });

      // End Swagger UI call region

      window.ui = ui
    }
  </script>
  </body>
</html>
